.colonne{
    text-align: center;
    font-weight: 700;
}

.icon-edit{
visibility: hidden;
font-size: 18px;
    }

.colonne::after{
visibility: hidden;
}
 
.mytable{
    box-shadow: 0 0px 80px #ccc;
    border-radius:20px;

} 

.button {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: larger;
  box-shadow: 0 1px 30px #ccc;
  border-radius: 4px;

  
}
.addbutton button{ 
    background-color: #4e73df;
}

.addbutton button:hover{
    background-color: #fff;
    color: #4e73df;
}

.colonne:hover{
    content: "\270E";
    visibility: visible;
          /* box-shadow: 5px 10px 8px 10px #eee;
    border: solid 2px nz-table {
    border-radius: 50%;
}#bfefef; */
    font-size: 5px; 
}

.header{
    font-weight: 900;
}

.data:hover div i, .meta-data:hover div i, .meta-snd:hover div i{visibility: visible;}

.meta-snd div{
    background-color: #ddd;
    font-weight: 700;
    font-size: 1.2em;
    border-radius: 10px;
    color: black;
}
.data div{ 
    background-color: #4e73df;
    border-radius:10px;
    font-weight: 700;
   box-shadow: 0 0px 80px #ccc;
   color: white;
   
    
}
.tr-row th div{
    font-weight: bolder;
    font-size: 1.3em;
    text-align: center;
}

.tr-little th div{
    font-size:1em;
    text-align: center;
}

.nz-form nz-form-item{
  margin: 2px;
  padding: 10px;
}

.form-builder{
  transform: translateY(27px);
}

.myrowform div nz-form-item nz-form-control nz-input-group nz-select {
        /* margin: 0 8px 10px 0; */
        /* transform: translateX(-10px); */
        width: 100%;
        height: 30px;
        /* padding: 20px; */
      }

.nzcard{
  max-width: 668px;
  box-shadow: 0px 0px 30px rgba(128, 128, 128, .2);
  max-height: 100%;
  background-color: #0da3d9;
  border-radius: 10px;
  /* transform: translateY(-30px) */
}
