<div class="container">
  <div class="row">
    <form [formGroup]="form" (submit)="getAllData()">


      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" formControlName="name" [ngClass]="{'is-invalid': (name?.errors?.required), 'is-valid': (name?.valid && name?.touched)}"  class="form-control" id="name">
      </div>
      <small *ngIf="name?.errors?.required" class="text-danger">*ce champ est obligatoire</small>


      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" formControlName="email" [ngClass]="{'is-invalid': (email?.errors?.required || email?.invalid), 'is-valid': (email?.valid && email?.touched)}" class="form-control" id="email">
      </div>
      <small *ngIf="email?.errors?.required" class="text-danger">*ce champ est obligatoire</small>


      <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" formControlName="password" [ngClass]="{'is-invalid': (password?.errors?.required || password?.invalid), 'is-valid': (password?.valid && password?.touched)}" class="form-control" id="password">
      </div>
      <small *ngIf="password?.errors?.required" class="text-danger">*ce champ est obligatoire</small>



      <div class="form-group">
        <label for="password_confirmation">Confirmer le mot de passe</label>
        <input type="password" formControlName="password_confirmation" [ngClass]="{'is-invalid': (password?.errors?.required && password_confirmation?.invalid) || (password?.value != password_confirmation?.value) && password?.touched, 'is-valid': (password?.valid) && (password?.touched)}" class="form-control" id="password_confirmation">
      </div>
      <small *ngIf="password_confirmation?.errors?.required" class="text-danger">*ce champ est obligatoire</small>

      <button type="submit" class="btn btn-primary d-block mt-5">Submit</button>
    </form>

    <table class="table table-striped table-inverse table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th>Numero</th>
          <th>montant</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="l">
            <td scope="row">{{depense.id}}</td>
            <td>{{depense.montantDepense}}</td>
            <td>{{depense.description}}</td>
          </tr>
          <tr> -->
            <td scope="row"></td>
            <td></td>
            <td></td>
          <!-- </tr> -->
        </tbody>
    </table>
    <!-- {{depense|json}} -->
  </div>
</div>
<!-- [disabled]="form.invalid" -->
